# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.venv/
venv/
env/

# Model weights
*.pt

# IDE
.idea/
*.iml
.vscode/

# OS
Thumbs.db
.DS_Store

# Output / large media
demo_data/*.mp4
demo_data/*_out.*
runs/

# Misc
path/

